body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.timers {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.timer {
    background: #ddd;
    padding: 10px;
    border-radius: 8px;
}

body {
    background: url('background.png') repeat;
    background-size: auto;
    image-rendering: pixelated;
}


img {
    image-rendering: pixelated;
    width: auto;
    height: auto;
}


#clock {
    width: 80%;
    max-width: 300px;
    height: 64px;
    background: url('clock.png') no-repeat center;
    background-size: contain;
    image-rendering: pixelated;
    text-align: center;
    font-size: 24px;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
}



/* Nút bấm chung */
button {
    width: 80px;
    height: 40px;
    background-size: contain;
    image-rendering: pixelated;
    border: none;
    cursor: pointer;
}
.personA.start {
    background: url('R1.png') no-repeat center;
}
.personA.stop {
    background: url('R2.png') no-repeat center;
}
.personB.start {
    background: url('M1.png') no-repeat center;
}
.personB.stop {
    background: url('M1.png') no-repeat center;
}
button:hover {
    opacity: 0.8; 
}
button:active {
    opacity: 0.6;
}

#history {
    width: 90%;
    max-width: 320px;
    height: 160px;
    background: url('history.png') no-repeat center;
    background-size: contain;
    image-rendering: pixelated;
    overflow-y: scroll;
    color: white;
    font-size: 14px;
    font-family: 'Press Start 2P', sans-serif;
}



